/* CSS declarations go here */
.video{

}

.videos {
    position: static;
    width: 40%;
    z-index: -1;
}

.videoPlaying {
    position: static;
    width: 40%;
    z-index: -1;
}

.videos-to-vote{
    margin-right: auto;
    width: 120%;
    position: relative;
}

.video-playing-showing{
	top: 20%;
	left: 18%;
    width: 150%;
    z-index: 10;
    float: left;
    position: absolute;
}

.video-playing{
	top: 17%;
	left: 25%;
    width: 120%;
    z-index: -1;
    position: absolute;
}

.video-showing{
    width: 40%;
    z-index: 10;
    position: relative;
}

